.visible {

}
.invincible {
    display: none;
}
* {
    margin: 0;
    padding: 0;
}
#root > div {
    height: 100%;
}
#AppWrap {
    position: relative;
    height: 100%;
    text-align: center;
    background-color: white;
}
/*Header styles*/
header {
    height: 40px;
    width: 100%;
    background-color: #e5e5e5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
nav {
    display: inline;
      padding-top: 8px;
}
nav div {
    display: inline;
    margin-left: 10px;
    font-size: 1.2rem;
    color: #000033;
}
nav div:hover {
    border-bottom: 4px solid #8F8FBC;
}
.chosen {
    border-bottom: 4px solid #8F8FBC;
}
.icons {
    display: inline;
    padding-top: 7px;
    position: relative;
}
.icons div {
    display: inline;
    margin-right: 15px;
    font-size: 1.5rem;
    color: #8F8FBC;
    position: relative;
}
.icons div:hover {
    color: white;
}
.icons span {
    vertical-align: top;
    font-size: 1rem;
}
/*Home page styles*/
.hero {
    width: 100%;
    height: 450px;
    text-align: center;
    position: relative;
    background-image:
			   url('img/spa15.jpg');
    background-position: center 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: white;
}
.titleDiv {
    margin: auto;
}
    h1 {
        margin: 0;
        font-size: 2.7rem;
         text-shadow: #000033 1px 1px 1px;
    }
    .titleDiv p {
        font-size: 1.5rem;
        margin-top: 15px;
        text-shadow: #000033 1px 1px 1px;
    }
/*Product styles*/
.productWrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
}
.product {
    display: inline-block;
    width: 250px;
    height: 350px;
    margin-bottom: 50px;
}
.product p {
    margin-top: 10px;
}
img {
    height: auto;
    width: 100%;
}
.product button {
    height: 35px;
    width: 100px;
    background-color: #8F8FBC;
    border-radius: 4px;
    color: white;
    font-size: 1rem;
    margin-top: 10px;
}
/*Product styles*/
#AdminWrap {
    height: 100%;
    background-color: #DCDCDC;
}
.adminHeader {
    width: 100%;
    height: 100px;
    background-color: grey;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}
.adminHeader h2 {
    margin: auto;
}
.adminContent {
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: flex-start;
    max-width: 200px;
    margin: 50px auto;
}
.adminContent h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 1.3rem;
    color: white;
    text-shadow: #000033 1px 1px 1px;
}
.adminContent input {
     outline: none;
     transition: .2s all linear;
     padding: 5px;
     width: 100%;
     margin: 10px 0;
}
.adminContent button {
     color: white;
     border-radius: 5px;
     font-size: 16px;
     line-height: 100%;
     padding: 5px 10px 5px 10px;
     width: 8em;
     background-color: rgb(128, 128, 128);;
}
/*Media Cart styles*/
#CartWrap {
    height: 100%;
    position: relative;
}
.innerCart {
    width: 60%;
    margin: 50px auto;
    min-height: 500px;
}
.cartHeader {
    height: 50px;
    background-color: #8F8FBC;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.cartHeader h2 {
    color: white;
}
.empty {
    text-align: center;
    margin-top: 50px;
}
.producWrap {
    min-height: 100px;
    border-bottom: 2px solid grey;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.left, .right {
    display: inline;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
}
.left {
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
}
.producWrap p {
    display: inline-block;
    width: 200px;
    padding-left: 5px;
}
.producWrap img {
    width: 100px;
    height: auto;
}
.right {
    flex-flow: column wrap;
    justify-content: flex-end;
    align-items: center;
}
.right p {
  display: inline-block;
  width: 100px;
  text-align: right;
  padding-top: 5px;
}
.box {
    display: inline-inline-block;
    width: 122px;
    height: 38px;
    border: 2px solid grey;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.box button {
    height: 34px;
    width: 40px;
    border: 0;
    font-size: 1.2rem;
}
.minus {
    border-top: 2px solid grey;
}
.total {
    text-align: right;
    font-size: 1.1rem;
    font-weight: bold;
    color: #383838;
    margin-top: 15px;
}
/*History styles*/
.historyWrap {
    padding-top: 10px;
    padding-bottom: 10px;
}
.itemP {
    padding: 10px;
}
/*Media queries*/
@media screen and (max-width: 1100px){
    .hero {
        background-position: center 120%;
        height: 400px;
    }
}
@media screen and (max-width: 1000px){
    .hero {
        height: 350px;
    }
}
@media screen and (max-width: 700px){
    .hero {
        height: 250px;
    }
    .product {
        width: 200px;
    }
    .innerCart {
        width: 80%;
    }
}
@media screen and (max-width: 500px){
    .productWrap {
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 100%;
    }
    .product {
        margin: auto;
    }
    .innerCart {
        width: 100%;
    }
}
@media screen and (max-width: 450px){
    .hero {
        height: 200px;
    }
}
@media screen and (max-width: 300px){
    .hero {
        height: 150px;
    }
}
